<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Welcome to your chat account</h1>
<table>
    <tr>
        <th style="text-align:left">Username:
        <td>{{user.username}}
    <tr>
        <th style="text-align:left">Nickname:
        <td>{{user.account.nickname}}
</table>

<form action='logout/' method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
</form>

<h3>Chat with your friends</h3>

<form id='chat' action='sendMessage/' method="POST">
    <span>To:</span><br/>
    <select name="receiver">
        {% for user in users %}
        <option value="{{user.username}}">{{user.username}}</option>
        {% endfor %}
    </select><br/>
    <span>Message:</span><br/>
    <input type="text" name="content"/><br/>
    <input type="submit" value="Send"/>
</form>
<br/>
<h3>Chat...</h3>
<table>
    <tr>
        <th>Message</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Delete</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>
            {{message.content}}
        </td>
        <td>
            {{message.sender}}
        </td>
        <td>
            {{message.receiver}}
        </td>
        <td>
            <form action='deleteMessage/' method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{message.id}}"/>
                <input type="submit" value="Delete"/>
            </form>
            {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>
